extends template/_template

block variables
  - var title = 'ВТБ'

block content
  include common/_search-top
  include common/_header
  include common/_slider
  include common/_section_news
  include common/_section_info
  include common/_section_tiles
  include common/_footer 