.birthdays-form {

	&__btn-group {
		width: 100%;
		overflow: hidden;
		


		& button {
			float: left;
			color: @link_hover;
			border-top: 2px;
			border-left: 1px;
			border-right: 1px;
			border-bottom: 2px;		
			border-color:@gray-bord;
			border-style: solid;
			// border-right:0px;
			width: 7.68%;
			background-color: #fff;
			cursor: pointer;
			line-height: 4.8;
			font-size: 13px;
			padding:0;
			&:last-child {
				border-right:2px solid @gray-bord;
				border-radius: 0 3px 3px 0;				 	
			}

			&:first-child {
				border-radius: 3px 0 0 3px;
				border-left: 2px solid @gray-bord;
			}			

			&:hover {
				color: #fff;
				background-color: @link_hover;
				border-color:@link_hover;

			}
			&.active {
				color: #fff;
				background-color: @link_hover;
				border-color:@link_hover;

			}

		}
	}

	&__col-width-23 {
		width: 23%;
	}

	&__col-width-26 {
		width: 26.8%;
	}

	& .col-xs-3 {
		padding-left: @sp/3;
    padding-right: @sp/3;

    &:first-child {
			padding-left: @sp;    	
    }
    &:last-child {
			padding-right: @sp;    	
    }
	}
}

