.comments {
	margin-bottom: @sp*2;
			.clearfix;
	&__title {
		font-family: 'Open Sans Bold';
		font-size:32px;
		margin-bottom: 20px;

		& span {
			color: @red;
			font-family: 'Open Sans Bold';
		}
	}

	&__wrap {
		border-top: 1px solid @light_blue;
	}

	&__elem {
		padding:40px 0;
		border-bottom: 1px solid @light_blue;
		.clearfix;
	}

	&__user {
		width: 285px;
		float: left;

		&-photo {
			width: 50px;
			float: left;
			heigth: 100%;
		}

		&-img {
			width: 50px;
			height: 50px;
			border-radius: 50%;			
		}

		&-info {
			width: 230px;
			float: right;
			padding:0 @sp;
		}

		&-name {
			color: @blue;
			font-size:14px;
			margin-bottom: 5px;
		}

		&-day {
			float: left;
			color: @gray;
			font-size:14px;
			margin-right: 10px; 
		}

		&-time {
			float: left;
			color: @gray;
			font-size:14px;
		}		
	}

	&__question {
		float: left;
		width: 555px;
		margin-bottom: @sp;
		padding-bottom: @sp;

		&-have-answer {
			border-bottom: 1px solid @light_blue; 
		}
	}

	&__text {
			font-family: 'Open Sans';
			font-size: 14px;
			margin-bottom: 20px;
	}

	&__btn-answer {
		color: @blue;
		text-transform: uppercase;
		font-size:14px;
	}

	&__answer {
		margin-top:40px;
		padding: 75px 40px;

		& .comments__question {
			width: 485px;
		}
	}

}