.link-simple {
	display: inline-block;
	width: 100%;
	color: @blue;
	font-size: 14px;
	font-family: 'Open Sans';
	margin-bottom: @sp*2;


	&:hover {
		color: @link_hover;		
	}

	&:active {
		color: @link_active;		
	}	
}
