.utterance {
	background-color: #fff;
	box-shadow: 0px 0px 62px 0px rgba(19, 77, 127, 0.17);
	padding: @sp*2 @sp*2 0 @sp*2;
	margin: 40px 0;
	.clearfix;

	&__quotes {
		float: left;
		padding-top:40px;
		margin-right: 20px;
		margin-bottom: @sp*2;
		line-height:0;
		color: @gray;
		font-size:110px;
		font-family: 'BritannicBold';		
	}

	&__info {
		float: left;
		margin-bottom: @sp*2;
	}

	&__title {
		color: @gray;
		text-transform: uppercase;
		font-size:12px;		
	}	

	&__text {
		font-family: 'Open Sans Italic';
		font-size:18px;
	}
}