.section
	.container
		.row
			.col-xs-12
				.breadcrumb
					nav.breadcrumb__wrap
						a(href="#").breadcrumb__item Главная
						a(href="#").breadcrumb__item Новости и публикации
						a(href="#").breadcrumb__item.breadcrumb__item-last-child Фоторепортажи
		.row
			.col-xs-12
				h1.title Адресная книга
		.row
			.col-xs-9.col-width-74
				.row
					.col-xs-12
						.input__group
							.input__wrap.input__wrap-width-21
								.input__caption ФИО
								input.input.input__type-2(type="text",value="ФИО", data-value-text="ФИО")
							.input__wrap.input__wrap-width-25
								input.input(type="text",value="Должность", data-value-text="Должность")
							.input__wrap.input__wrap-width-25
								input.input(type="text",value="Подр. верхн. уровня", data-value-text="Подр. верхн. уровня")
							.input__wrap.input__wrap-width-25
								input.input(type="text",value="Подразделение", data-value-text="Подразделение")
						
						.input__group
							.input__wrap.input__wrap-width-21
								input.input(type="text",value="Вн. телефон", data-value-text="Вн. телефон")
							.input__wrap.input__wrap-width-25
								input.input(type="text",value="Город", data-value-text="Город")
							.input__wrap.input__wrap-width-25
								input.input(type="text",value="Комната", data-value-text="Комната")
							.input__wrap.input__wrap-width-25
								input.input(type="text",value="Руководитель", data-value-text="Руководитель")

						.btn__group-form
							button.btn.btn__blue.btn__small(type="button") Поиск
							button.btn.btn__transparent.btn__small(type="button") Очистить

				//- список адресов
				.row
					.col-xs-12
						.addres-list__wrap
							ul.addres-list
								li.addres-list__elem
									a(href="#").addres-list__link
										.addres-list__photo
											.addres-list__img
												img(src="img/birsday/photo1.jpg")
										.addres-list__info
											.addres-list__name  Иванов Сергей Петрович
											.addres-list__position Главный
										table.addres-list__description
											tr
												td.addres-list__description-department
													.addres-list__description-title Подразделение верхнего уровня
													.addres-list__description-info Департамент банковских и информационных технологий
												td.addres-list__description-contacts
													.addres-list__description-title Вн. телефон
													.addres-list__description-info (495) 960-24-24, доб. 49-711
												td.addres-list__description-position 
													.addres-list__description-title Руководитель
													.addres-list__description-info Герман Марк Александрович
											tr
												td 
													.addres-list__description-title Подразделение
													.addres-list__description-info Отдел внутрибанковских систем
												td 
													.addres-list__description-title Комната
													.addres-list__description-info 413
												td 
													.addres-list__description-title Город
													.addres-list__description-info Москва
								li.addres-list__elem
									a(href="#").addres-list__link
										.addres-list__photo
											.addres-list__img
												img(src="img/birsday/photo1.jpg")
										.addres-list__info
											.addres-list__name  Иванов Сергей Петрович
											.addres-list__position Главный
										table.addres-list__description
											tr
												td.addres-list__description-department
													.addres-list__description-title Подразделение верхнего уровня
													.addres-list__description-info Департамент банковских и информационных технологий
												td.addres-list__description-contacts
													.addres-list__description-title Вн. телефон
													.addres-list__description-info (495) 960-24-24, доб. 49-711
												td.addres-list__description-position 
													.addres-list__description-title Руководитель
													.addres-list__description-info Герман Марк Александрович
											tr
												td 
													.addres-list__description-title Подразделение
													.addres-list__description-info Отдел внутрибанковских систем
												td 
													.addres-list__description-title Комната
													.addres-list__description-info 413
												td 
													.addres-list__description-title Город
													.addres-list__description-info Москва
								li.addres-list__elem
									a(href="#").addres-list__link
										.addres-list__photo
											.addres-list__img
												img(src="img/birsday/photo1.jpg")
										.addres-list__info
											.addres-list__name  Иванов Сергей Петрович
											.addres-list__position Главный
										table.addres-list__description
											tr
												td.addres-list__description-department
													.addres-list__description-title Подразделение верхнего уровня
													.addres-list__description-info Департамент банковских и информационных технологий
												td.addres-list__description-contacts
													.addres-list__description-title
													.addres-list__description-info
												td.addres-list__description-position 
													.addres-list__description-title Руководитель
													.addres-list__description-info Герман Марк Александрович
											tr
												td 
													.addres-list__description-title Подразделение
													.addres-list__description-info Отдел внутрибанковских систем
												td 
													.addres-list__description-title
													.addres-list__description-info
												td 
													.addres-list__description-title
													.addres-list__description-info
				





			.col-xs-3.col-width-26
				.aside
					nav.aside__menu
						ul.aside__list
							li.aside__elem
								a(href="#").aside__link Новости
							li.aside__elem.active
								a(href="#").aside__link Фоторепортажи
							li.aside__elem
								a(href="#").aside__link Обзор СМИ
							li.aside__elem
								a(href="#").aside__link.aside__link-last-child Газеты и журналы


					.aside__tile
						a(href="#").aside__tile-link
							.aside__tile-img
								img(src='img/tiles/1.jpg', alt='')
							h3.aside__tile-title Моя идея
					.aside__tile
						a(href="#").aside__tile-link
							.aside__tile-img
								img(src='img/tiles/2.jpg', alt='')
							h3.aside__tile-title Нормативно-справочная информация
					.aside__tile
						a(href="#").aside__tile-link
							.aside__tile-img
								img(src='img/tiles/3.jpg', alt='')
							h3.aside__tile-title База знаний для ТП
