.section
	.container
		.row
			.col-xs-12
				.breadcrumb
					nav.breadcrumb__wrap
						a(href="#").breadcrumb__item Главная
						a(href="#").breadcrumb__item Новости и публикации
						a(href="#").breadcrumb__item.breadcrumb__item-last-child Фоторепортажи
		.row
			.col-xs-12
				h1.title Филиал №886 (Северо-Западный)
		.row
			.col-xs-9.col-width-74
					
					img.big-img(src='img/big-vtb.jpg', alt='')

					.roster
						.roster__title Филиал №886 в Санкт-Петербурге — это базовый Филиал по Северо-Западу. Он формирует:
						ul.roster__list
							li.roster__elem
								span.roster__text Сеть ТП в Санкт-Петербурге и Ленинградской области;
							li.roster__elem
								span.roster__text Региональные офисы и Операционные офисы в Мурманске, Пскове, Великом Новгороде, Калининграде, Архангельске, а так же в Республике Коми и в Республике Калерия.

					.text 
						p Все офисы филиала №886 банка ВТБ24 работают во всех экономически значимых районов СЗФО.
				
					hr.horizontal-stripe

					a(href="#").link-simple Место в организационной структуре

					hr.horizontal-stripe

					.row
						.col-xs-6
							.section_info__block.section_info__block-height-390
								h2.title-small.border-bottom Дни рождения
								.section_info__block-wrap
										.name-day
											.name-day__left
											.name-day__right
												.name-day__number 13
												.name-day__text
													.name-day__date
														| сегодня, 
														span 10 февраля
													.name-day__signature именинников
										
										#birsdays.birsdays
											.birsdays__wrap
												ul.birsdays__list
													li.birsdays__elem
														a.birsdays__link(href='#')
															.birsdays__photo
																img.birsdays__elem-img(src='img/birsday/photo1.jpg', alt='photo1', title='photo1')
															.birsdays__text
																.birsdays__text-wrap
																	.birsdays__name Николай Дубов
																	.birsdays__position Старший менеджер
													li.birsdays__elem
														a.birsdays__link(href='#')
															.birsdays__photo
																img.birsdays__elem-img(src='img/birsday/photo2.jpg', alt='photo1', title='photo1')
															.birsdays__text
																.birsdays__text-wrap
																	.birsdays__name Владимирова Марина
																	.birsdays__position Ведущий аналитик
													li.birsdays__elem
														a.birsdays__link(href='#')
															.birsdays__photo
																img.birsdays__elem-img(src='img/birsday/photo3.jpg', alt='photo1', title='photo1')
															.birsdays__text
																.birsdays__text-wrap
																	.birsdays__name Обухов Владимир
																	.birsdays__position Заместитель
													li.birsdays__elem
														a.birsdays__link(href='#')
															.birsdays__photo
																img.birsdays__elem-img(src='img/birsday/photo1.jpg', alt='photo1', title='photo1')
															.birsdays__text
																.birsdays__text-wrap
																	.birsdays__name Николай Дубов
																	.birsdays__position Старший менеджер
													li.birsdays__elem
														a.birsdays__link(href='#')
															.birsdays__photo
																img.birsdays__elem-img(src='img/birsday/photo2.jpg', alt='photo1', title='photo1')
															.birsdays__text
																.birsdays__text-wrap
																	.birsdays__name Владимирова Марина
																	.birsdays__position
																		| Ведущий аналитик отдела развития Ведущий аналитик отдела развития Ведущий аналитик отдела развития
													li.birsdays__elem
														a.birsdays__link(href='#')
															.birsdays__photo
																img.birsdays__elem-img(src='img/birsday/photo3.jpg', alt='photo1', title='photo1')
															.birsdays__text
																.birsdays__text-wrap
																	.birsdays__name Обухов Владимир
																	.birsdays__position Заместитель главного бухгалтера



						.col-xs-6
							.section_info__block.section_info__block-height-390
								h2.title-small.border-bottom Важные разделы
								.section_info__block-wrap
									.useful-links
										.useful-links__wrap
											ul.useful-links__list
												li.useful-links__elem
													a.useful-links__link(href='#')
														.useful-links__icon
															img.useful-links__elem-img(src='img/icons/phone.png', alt='phone', title='phone')
														.useful-links__text
															.useful-links__title Опросы
												li.useful-links__elem
													a.useful-links__link(href='#')
														.useful-links__icon
															img.useful-links__elem-img(src='img/icons/question.png', alt='question', title='question')
														.useful-links__text
															.useful-links__title Назначения
												li.useful-links__elem
													a.useful-links__link(href='#')
														.useful-links__icon
															img.useful-links__elem-img(src='img/icons/fly.png', alt='fly', title='fly')
														.useful-links__text
															.useful-links__title Часто задаваемые вопросы
												li.useful-links__elem
													a.useful-links__link(href='#')
														.useful-links__icon
															img.useful-links__elem-img(src='img/icons/list.png', alt='list', title='list')
														.useful-links__text
															.useful-links__title Новому сотруднику
												li.useful-links__elem
													a.useful-links__link(href='#')
														.useful-links__icon
															img.useful-links__elem-img(src='img/icons/nut.png', alt='list', title='list')
														.useful-links__text
															.useful-links__title Форум




			.col-xs-3.col-width-26
				.aside
					nav.aside__menu
						ul.aside__list
							li.aside__elem
								a(href="#").aside__link Новости
							li.aside__elem.active
								a(href="#").aside__link Фоторепортажи
							li.aside__elem
								a(href="#").aside__link Обзор СМИ
							li.aside__elem
								a(href="#").aside__link Газеты и журналы
							li.aside__elem
								a(href="#").aside__link.aside__link-last-child <i class="fa fa-chevron-left" aria-hidden="true"></i> Назад

					.aside__tile
						a(href="#").aside__tile-link
							.aside__tile-img
								img(src='img/tiles/1.jpg', alt='')
							h3.aside__tile-title Моя идея
					.aside__tile
						a(href="#").aside__tile-link
							.aside__tile-img
								img(src='img/tiles/2.jpg', alt='')
							h3.aside__tile-title Нормативно-справочная информация
					.aside__tile
						a(href="#").aside__tile-link
							.aside__tile-img
								img(src='img/tiles/3.jpg', alt='')
							h3.aside__tile-title База знаний для ТП
