.footer
  .footer__wrap
    .container
      a.footer__link.footer__link-map(href='#') Карта портала
      a.footer__link.footer__link-map(href='#') Карта филиалов
  .footer__wrap
    .container
      .footer__bottom
        .footer__copy © 2016  ВТБ24 (ПАО). Корпоративный портал
        a.footer__support(href='#') Написать в поддержку 
        .footer__tell
          span Техподдержка:
          .footer__tell-tell 8-800-100-24-24
