footer.footer 
	.footer__wrap
		.container
			a(href='#').footer__link.footer__link-map Карта портала
			a(href='#').footer__link.footer__link-map Карта филиалов
	.footer__wrap
		.container 
			.footer__bottom
				.footer__copy © 2016  ВТБ24 (ПАО). Корпоративный портал
				.footer__tell 
					span Техподдержка:
					.footer__tell-tell 8-800-100-24-24
				a(href='#').footer__support Написать в поддержку 