header.header 
	.header__content
		.header__menu
			nav.nav-menu
				ul.nav-menu__list
					li.nav-menu__elem
						a.nav-menu__link(href='#') Наша команда
					li.nav-menu__elem
						a.nav-menu__link(href='#') Процессы 
					li.nav-menu__elem
						a.nav-menu__link(href='#') Сотруднику 
					li.nav-menu__elem
						a.nav-menu__link(href='#') Сообщество 
					li.nav-menu__elem
						a.nav-menu__link(href='#') Сервисы 
					li.nav-menu__elem
						a.nav-menu__link(href='#') Техподдержка 
		.header__search 
			a.header__search-link#seach-open(href='#')
				i.fa.fa-search(aria-hidden="true")
		.header__login
			.header__login-wrap
				.header__login-photo 
					img.header__login-photo-img(src="assets/img/photo.jpg" alt="")
				.header__login-name 
					span Анна <br>
					span Власова-Петррова-Подиагонали
				a(href='#').header__login-link 
					i.fa.fa-chevron-down(aria-hidden="true")
			.header__login-drop-down
				.header__login-drop-down-wrap
					ul.header__login-drop-down-list
						li.header__login-drop-down-elem
							a.header__login-drop-down-link(href='#') Помощь сотруднику
						li.header__login-drop-down-elem
							a.header__login-drop-down-link(href='#') Моя страница
						li.header__login-drop-down-elem
							a.header__login-drop-down-link(href='#') Выход
