.section
	.container
		.row
			.col-xs-12
				.breadcrumb
					nav.breadcrumb__wrap
						a(href="#").breadcrumb__item Главная
						a(href="#").breadcrumb__item Новости и публикации
						a(href="#").breadcrumb__item.breadcrumb__item-last-child Фоторепортажи
		.row
			.col-xs-12
				h1.title Назначения
		.row
			.col-xs-9.col-width-74
				table.jobs-table#jobs-table
					tr.jobs-table__title
						td.jobs-table__title-name 
							a.jobs-table__title-link(href="#") ФИО
						td.jobs-table__title-division
							a.jobs-table__title-link(href="#") Подразделение
						td.jobs-table__title-city
							a.jobs-table__title-link(href="#") Город
						td.jobs-table__title-position
							a.jobs-table__title-link(href="#") Должность
						td.jobs-table__title-date
							a.jobs-table__title-link(href="#") Дата назначения
					tr.jobs-table__elem 
						td.jobs-table__info
							.jobs-table__photo
								.jobs-table__img
									img(src="img/birsday/photo1.jpg")
							.jobs-table__name Иванов Сергей Николаевич
						td.jobs-table__division  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, ex dolor! Facere, quis provident dolores impedit minus voluptas autem tempore libero, fuga. Sunt voluptatem magnam, culpa incidunt architecto, sint fugiat! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, ex dolor! Facere, quis provident dolores impedit minus voluptas autem tempore libero, fuga. Sunt voluptatem magnam, culpa incidunt architecto, sint fugiat! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, ex dolor! Facere, quis provident dolores impedit minus voluptas autem tempore libero, fuga. Sunt voluptatem magnam, culpa incidunt architecto, sint fugiat!


						td.jobs-table__city Москва
						td.jobs-table__position Супер-Директор
						td.jobs-table__date 25.10.1917
					tr.jobs-table__elem 
						td.jobs-table__info
							.jobs-table__photo
								.jobs-table__img
									img(src="img/birsday/photo1.jpg")
							.jobs-table__name Иванов Сергей Николаевич
						td.jobs-table__division  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, ex dolor! Facere, quis provident dolores impedit minus voluptas autem tempore libero, fuga. Sunt voluptatem magnam, culpa incidunt architecto, sint fugiat!
						td.jobs-table__city Москва
						td.jobs-table__position Директор
						td.jobs-table__date 25.10.1917
					tr.jobs-table__elem 
						td.jobs-table__info
							.jobs-table__photo
								.jobs-table__img
									img(src="img/birsday/photo1.jpg")
							.jobs-table__name Иванов Сергей Николаевич
						td.jobs-table__division  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, ex dolor! Facere, quis provident dolores impedit minus voluptas autem tempore libero, fuga. Sunt voluptatem magnam, culpa incidunt architecto, sint fugiat!
						td.jobs-table__city Москва
						td.jobs-table__position Директор
						td.jobs-table__date 25.10.1917
			.col-xs-3.col-width-26
				.aside
					nav.aside__menu
						ul.aside__list
							li.aside__elem
								a(href="#").aside__link Новости
							li.aside__elem.active
								a(href="#").aside__link Фоторепортажи
							li.aside__elem
								a(href="#").aside__link Обзор СМИ
							li.aside__elem
								a(href="#").aside__link.aside__link-last-child Газеты и журналы


					.aside__tile
						a(href="#").aside__tile-link
							.aside__tile-img
								img(src='img/tiles/1.jpg', alt='')
							h3.aside__tile-title Моя идея
					.aside__tile
						a(href="#").aside__tile-link
							.aside__tile-img
								img(src='img/tiles/2.jpg', alt='')
							h3.aside__tile-title Нормативно-справочная информация
					.aside__tile
						a(href="#").aside__tile-link
							.aside__tile-img
								img(src='img/tiles/3.jpg', alt='')
							h3.aside__tile-title База знаний для ТП
