.section
	.container
		.row
			.col-xs-12
				.breadcrumb
					nav.breadcrumb__wrap
						a(href="#").breadcrumb__item.breadcrumb__item-last-child 
		.row
			.col-xs-3.col-width-26
				.aside
					.aside__big-photo
						img.aside__big-photo-img(src="img/photo-requests.jpg", alt="")
						.aside__big-photo-text Белов Алексей


					nav.aside__menu
						ul.aside__list
							li.aside__elem.active
								a(href="#").aside__link О пользователе Белов Алексей
							li.aside__elem
								a(href="#").aside__link Документы
							li.aside__elem
								a(href="#").aside__link Коллеги
							li.aside__elem
								a(href="#").aside__link Ссылки
							li.aside__elem
								a(href="#").aside__link Блог
							li.aside__elem
								a(href="#").aside__link.aside__link-last-child Приложения



			.col-xs-6.col-width-48
				h1.title.title-margin-bottom-15 О пользователе 
					span Белов Алексей

				a(hover="#").tracking остановить отслеживание этого пользователя

				.text 
					p Вы можете <a href="#">упомянуть</a> меня в записях

				h2.title-small.title-small-left Контакты

				table.contacts-table
					tr
						td Телефон
						td 
							span (495) 960-24-24
						td Факс
						td 
							span (495) 960-24-24
					tr
						td Моб. телефон
						td 
							span (495) 960-24-24
						td Дом. тетефон
						td 
							span (495) 960-24-24

				h2.title-small.title-small-left Профессиональная деятельность

				ul.jobs-list
					li.jobs-list__elem
						.jobs-list__year 1917-1918
						.jobs-list__position Должность
					li.jobs-list__elem
						.jobs-list__year 1919-1941
						.jobs-list__position Должность
					li.jobs-list__elem
						.jobs-list__year 1942-1945
						.jobs-list__position Должность

				h2.title-small.title-small-left Компетенции

				.roster
					ul.roster__list
						li.roster__elem
							span.roster__text Умение работать с людьми
						li.roster__elem
							span.roster__text Умение работать с людьми
						li.roster__elem
							span.roster__text Умение работать с людьми
						li.roster__elem
							span.roster__text Умение работать с людьми
						li.roster__elem
							span.roster__text Умение работать с людьми
						li.roster__elem
							span.roster__text Умение работать с людьми

				h2.title-small.title-small-left Интересы
				
				.text
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque laudantium porro amet dolorum soluta nobis dignissimos esse a quasi illo dolorem commodi, voluptatibus non deserunt pariatur libero maiores tempore dolore.

				h2.title-small.title-small-left Последние действия пользователя


				ul.user-action-list
					li.user-action-list__elem.user-action-list__elem-event
						.user-action-list__info
							.user-action-list__text Пользователь <span>Белов Алексей</span> получил новую должность:
							.user-action-list__text Разработчик
							.user-action-list__buttons
								a(href="#") Вчера  в 18:43
								a(href="#") Не нравится
								a(href="#") Ответить
								a(href="#") ...
					li.user-action-list__elem
						.user-action-list__photo
							img.user-action-list__img(src="img/photo-requests.jpg", alt="")
						.user-action-list__info
							.user-action-list__name Белов Алексей
							.user-action-list__text Ура! Мы все наконец переехали в новый солнечный офис.
							.user-action-list__like
								img.user-action-list__like-icon(src="img/icons/like.png", alt="")
								.user-action-list__like-text Вам это нравится
							.user-action-list__buttons
								a(href="#") Вчера  в 18:43
								a(href="#") Не нравится
								a(href="#") Ответить
								a(href="#") ...
					li.user-action-list__elem
						.user-action-list__photo
							img.user-action-list__img(src="img/photo-requests.jpg", alt="")
						.user-action-list__info
							.user-action-list__name Белов Алексей
							.user-action-list__text Ура! Мы все наконец переехали в новый солнечный офис.
							.user-action-list__like
								img.user-action-list__like-icon(src="img/icons/like.png", alt="")
								.user-action-list__like-text Вам это нравится
							.user-action-list__buttons
								a(href="#") Вчера  в 18:43
								a(href="#") Не нравится
								a(href="#") Ответить
								a(href="#") ...
					li.user-action-list__elem
						.user-action-list__photo
							img.user-action-list__img(src="img/photo-requests.jpg", alt="")
						.user-action-list__info
							.user-action-list__name Белов Алексей
							.user-action-list__text Ура! Мы все наконец переехали в новый солнечный офис.
							.user-action-list__like
								img.user-action-list__like-icon(src="img/icons/like.png", alt="")
								.user-action-list__like-text Вам это нравится
							.user-action-list__buttons
								a(href="#") Вчера  в 18:43
								a(href="#") Не нравится
								a(href="#") Ответить
								a(href="#") ...

				a(href="#").link-simple.link-simple-big.link-simple-center показать другие записи


			.col-xs-3.col-width-26

				h2.title-small.title-small-left Разработчик

				table.position-info-table
					tr
						td Таб. номер
						td 1200015-4
					tr
						td Грейд
						td 250001

				h2.title-small.title-small-left Общие

				.text
					p Вы вдвоем отслеживаете этих пользователей

				h2.title-small.title-small-left Организационная диаграмма

				a(href="#").link-simple.link-simple-big дополнительно
