.section
	.container
		.row
			.col-xs-12
				.breadcrumb
					nav.breadcrumb__wrap
						a(href="#").breadcrumb__item Главная
						a(href="#").breadcrumb__item Новости и публикации
						a(href="#").breadcrumb__item.breadcrumb__item-last-child Фоторепортажи
		.row
			.col-xs-12
				h1.title В предверии Нового года сотрудники ВТБ 24 в Благовещенске провели волонтерскую акцию
		.row
			.col-xs-9.col-width-74
				.news-one
					.date 17 февраля 2017
					
					h4  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus excepturi nemo velit optio ratione alias aspernatur accusamus odio at quibusdam numquam cum ex minus, totam quae perspiciatis eius obcaecati ullam.
					

					.text 
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam rerum neque distinctio non eaque soluta doloribus cumque cupiditate, corrupti mollitia sapiente dolores possimus laboriosam iste cum ipsam. Porro, in, quidem? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam rerum neque distinctio non eaque soluta doloribus cumque cupiditate, corrupti mollitia sapiente dolores possimus laboriosam iste cum ipsam. Porro, in, quidem?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam rerum neque distinctio non eaque soluta doloribus cumque cupiditate, corrupti mollitia sapiente dolores possimus laboriosam iste cum ipsam. Porro, in, quidem? 
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam rerum neque distinctio non eaque soluta doloribus cumque cupiditate, corrupti mollitia sapiente dolores possimus laboriosam iste cum ipsam. Porro, in, quidem? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam rerum neque distinctio non eaque soluta doloribus cumque cupiditate, corrupti mollitia sapiente dolores possimus laboriosam iste cum ipsam. Porro, in, quidem?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam rerum neque distinctio non eaque soluta doloribus cumque cupiditate, corrupti mollitia sapiente dolores possimus laboriosam iste cum ipsam. Porro, in, quidem? 

						a(href="#").link-simple Подробнее о программе

						
						.news-one__info 
							.news-one__info-list
								.news-one__info-item
									.news-one__info-title Материалы по теме:
									.news-one__info-text 
										a(href="#").news-one__info-link <i class="fa fa-link" aria-hidden="true"></i>Вручение наград лицом к лицу
										a(href="#").news-one__info-link <i class="fa fa-link" aria-hidden="true"></i>Престижные премии, полученные сотрудниками региональных отделений банка ВТБ24  Престижные премии, полученные сотрудниками региональных отделений банка ВТБ24 Престижные премии, полученные сотрудниками региональных отделений банка ВТБ24

						.news-one__info 
							.news-one__info-list
								.news-one__info-item
									.news-one__info-title Рубрика: 
									.news-one__info-text 
										p Новости персонала

								.news-one__info-item
									.news-one__info-title Автор:
									.news-one__info-text 
										p Васеленко Елена Петровна 
										

				
				
					

						
	
						

						





			.col-xs-3.col-width-26
				.aside
					nav.aside__menu
						ul.aside__list
							li.aside__elem
								a(href="#").aside__link Новости
							li.aside__elem.active
								a(href="#").aside__link Фоторепортажи
							li.aside__elem
								a(href="#").aside__link Обзор СМИ
							li.aside__elem
								a(href="#").aside__link.aside__link-last-child Газеты и журналы


					.aside__tile
						a(href="#").aside__tile-link
							.aside__tile-img
								img(src='img/tiles/1.jpg', alt='')
							h3.aside__tile-title Моя идея
					.aside__tile
						a(href="#").aside__tile-link
							.aside__tile-img
								img(src='img/tiles/2.jpg', alt='')
							h3.aside__tile-title Нормативно-справочная информация
					.aside__tile
						a(href="#").aside__tile-link
							.aside__tile-img
								img(src='img/tiles/3.jpg', alt='')
							h3.aside__tile-title База знаний для ТП
