.section
	.container
		.row
			.col-xs-12
				.breadcrumb
					nav.breadcrumb__wrap
						a(href="#").breadcrumb__item Главная
						a(href="#").breadcrumb__item Новости и публикации
						a(href="#").breadcrumb__item.breadcrumb__item-last-child Фоторепортажи
		.row
			.col-xs-12
				h1.title Фоторепортажи
		.row
			.col-xs-9.col-width-74

				.text 
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam rerum neque distinctio non eaque soluta doloribus cumque cupiditate, corrupti mollitia sapiente dolores possimus laboriosam iste cum ipsam. Porro, in, quidem? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam rerum neque distinctio non eaque soluta doloribus cumque cupiditate, corrupti mollitia sapiente dolores possimus laboriosam iste cum ipsam. Porro, in, quidem?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam rerum neque distinctio non eaque soluta doloribus cumque cupiditate, corrupti mollitia sapiente dolores possimus laboriosam iste cum ipsam. Porro, in, quidem? 
				//фотолист
				.row
					.photos

						.col-xs-4
							a(href="#").photos__img(style="background: url(img/tiles/1.jpg);") 
						.col-xs-4
							a(href="#").photos__img(style="background: url(img/tiles/1.jpg);")
						.col-xs-4
							a(href="#").photos__img(style="background: url(img/tiles/1.jpg);")
						.col-xs-4
							a(href="#").photos__img(style="background: url(img/tiles/1.jpg);")
						.col-xs-4
							a(href="#").photos__img(style="background: url(img/tiles/1.jpg);")
						.col-xs-4
							a(href="#").photos__img(style="background: url(img/tiles/1.jpg);")

						.col-xs-4
							a(href="#").photos__img(style="background: url(img/tiles/1.jpg);")
						.col-xs-4
							a(href="#").photos__img(style="background: url(img/tiles/1.jpg);")
						.col-xs-4
							a(href="#").photos__img(style="background: url(img/tiles/1.jpg);")
						.col-xs-4
							a(href="#").photos__img(style="background: url(img/tiles/1.jpg);")
						.col-xs-4
							a(href="#").photos__img(style="background: url(img/tiles/1.jpg);")
						
	
						

						





			.col-xs-3.col-width-26
				.aside
					nav.aside__menu
						ul.aside__list
							li.aside__elem
								a(href="#").aside__link Основные соревнования
							li.aside__elem
								a(href="#").aside__link Специальные соревнования
							li.aside__elem
								a(href="#").aside__link График соревнований
							li.aside__elem
								a(href="#").aside__link Архив соревнований
							li.aside__elem
								a(href="#").aside__link Наградные материалы
							li.aside__elem
								a(href="#").aside__link.aside__link-last-child Положение
					.aside__tile
						a(href="#").aside__tile-link
							.aside__tile-img
								img(src='img/tiles/1.jpg', alt='')
							h3.aside__tile-title Моя идея
					.aside__tile
						a(href="#").aside__tile-link
							.aside__tile-img
								img(src='img/tiles/2.jpg', alt='')
							h3.aside__tile-title Нормативно-справочная информация
					.aside__tile
						a(href="#").aside__tile-link
							.aside__tile-img
								img(src='img/tiles/3.jpg', alt='')
							h3.aside__tile-title База знаний для ТП
