.section
	.container
		.row
			.col-xs-12
				.breadcrumb
					nav.breadcrumb__wrap
						a(href="#").breadcrumb__item Главная
						a(href="#").breadcrumb__item Новости и публикации
						a(href="#").breadcrumb__item.breadcrumb__item-last-child Фоторепортажи
		.row
			.col-xs-12
				h1.title Фоторепортажи
		.row
			.col-xs-9.col-width-74

				//фотолист
				.row
					.gallery
						
						.col-xs-4
							a(href="#").gallery__item
								.gallery__img(style="background: url(img/tiles/1.jpg);")
									.gallery__quantity 
										.gallery__quantity-top 8 
										.gallery__quantity-photo фото 
								.gallery__text В москве открылся офис нового формата ДО «Цветной бульвар»
								.gallery__data 09 Февраля 2017
						.col-xs-4
							a(href="#").gallery__item
								.gallery__img(style="background: url(img/tiles/1.jpg);")
									.gallery__quantity 
										.gallery__quantity-top 8 
										.gallery__quantity-photo фото 
								.gallery__text В Москве состоялось мероприятие для новых сотрудников Московсткой сети «День новичка ВТБ24»
								.gallery__data 02 Февраля 2017
						.col-xs-4
							a(href="#").gallery__item
								.gallery__img(style="background: url(img/tiles/1.jpg);")
									.gallery__quantity 
										.gallery__quantity-top 8 
										.gallery__quantity-photo фото 
								.gallery__text В москве открылся офис нового формата ДО «Цветной бульвар»
								.gallery__data 09 Февраля 2017
						.col-xs-4
							a(href="#").gallery__item
								.gallery__img(style="background: url(img/tiles/1.jpg);")
									.gallery__quantity 
										.gallery__quantity-top 8 
										.gallery__quantity-photo фото 
								.gallery__text В москве открылся офис нового формата ДО «Цветной бульвар»
								.gallery__data 09 Февраля 2017
						.col-xs-4
							a(href="#").gallery__item
								.gallery__img(style="background: url(img/tiles/1.jpg);")
									.gallery__quantity 
										.gallery__quantity-top 8 
										.gallery__quantity-photo фото 
								.gallery__text В москве открылся офис нового формата ДО «Цветной бульвар»
								.gallery__data 09 Февраля 2017
						.col-xs-4
							a(href="#").gallery__item
								.gallery__img(style="background: url(img/tiles/1.jpg);")
									.gallery__quantity 
										.gallery__quantity-top 8 
										.gallery__quantity-photo фото 
								.gallery__text В москве открылся офис нового формата ДО «Цветной бульвар»
								.gallery__data 09 Февраля 2017
						.col-xs-4
							a(href="#").gallery__item
								.gallery__img(style="background: url(img/tiles/1.jpg);")
									.gallery__quantity 
										.gallery__quantity-top 8 
										.gallery__quantity-photo фото 
								.gallery__text В москве открылся офис нового формата ДО «Цветной бульвар»
								.gallery__data 09 Февраля 2017
	
						

						





			.col-xs-3.col-width-26
				.aside
					nav.aside__menu
						ul.aside__list
							li.aside__elem
								a(href="#").aside__link Основные соревнования
							li.aside__elem
								a(href="#").aside__link Специальные соревнования
							li.aside__elem
								a(href="#").aside__link График соревнований
							li.aside__elem
								a(href="#").aside__link Архив соревнований
							li.aside__elem
								a(href="#").aside__link Наградные материалы
							li.aside__elem
								a(href="#").aside__link.aside__link-last-child Положение
					.aside__tile
						a(href="#").aside__tile-link
							.aside__tile-img
								img(src='img/tiles/1.jpg', alt='')
							h3.aside__tile-title Моя идея
					.aside__tile
						a(href="#").aside__tile-link
							.aside__tile-img
								img(src='img/tiles/2.jpg', alt='')
							h3.aside__tile-title Нормативно-справочная информация
					.aside__tile
						a(href="#").aside__tile-link
							.aside__tile-img
								img(src='img/tiles/3.jpg', alt='')
							h3.aside__tile-title База знаний для ТП
