.section
	.container
		.row
			.col-xs-12
				.breadcrumb
					nav.breadcrumb__wrap
						a(href="#").breadcrumb__item Главная
						a(href="#").breadcrumb__item Новости и публикации
						a(href="#").breadcrumb__item.breadcrumb__item-last-child Фоторепортажи
		.row
			.col-xs-12
				h1.title Запросы и заявки
		.row
			.col-xs-9.col-width-74

					.roster
						.roster__title 
						ul.roster__list
							li.roster__elem
								a(hrf="#").roster__link Заявка на командировку
							li.roster__elem
								a(hrf="#").roster__link Заявка на изготовление копий документов
							li.roster__elem
								a(hrf="#").roster__link Архив заявок

					hr.horizontal-stripe

					h2.title-small.title-small-left Заявки на изготовлений справок и копий документов

					table.request-table
						tr.request-table__gray
							td Название
							td Тип справки
							td создано
							td <input type="checkbox" checked> Кем создано
							td На  кого заказана
							td Статус
							td <input type="checkbox"> Кем выполнена
							td дата завершения
						tr
							td
								a(href="#") Заявка на изготовление справки №30
							td 
								a(href="#") 182-Н
							td 
								span 27.02.2017  
								span 10:30
							td <input type="checkbox" checked> spadmin
							td Тишаев Владимир Дмитриевич
							td Зарегистрирована
							td <input type="checkbox" checked> spadmin
							td 
								span 27.02.2017  
								span 10:30
						tr
							td 
								a(href="#") Заявка на изготовление справки №30
							td 
								a(href="#") 182-Н
							td 
								span 27.02.2017  
								span 10:30
							td <input type="checkbox" checked> spadmin
							td Тишаев Владимир Дмитриевич
							td Зарегистрирована
							td <input type="checkbox" checked> spadmin
							td 
								span 27.02.2017  
								span 10:30
						tr
							td 
								a(href="#") Заявка на изготовление справки №30
							td 
								a(href="#") 182-Н
							td 
								span 27.02.2017  
								span 10:30
							td <input type="checkbox" checked> spadmin
							td Тишаев Владимир Дмитриевич
							td Зарегистрирована
							td <input type="checkbox" checked> spadmin
							td 
								span 27.02.2017  
								span 10:30
						tr
							td 
								a(href="#") Заявка на изготовление справки №30
							td 
								a(href="#") 182-Н
							td 
								span 27.02.2017  
								span 10:30
							td <input type="checkbox" checked> spadmin
							td Тишаев Владимир Дмитриевич
							td Зарегистрирована
							td <input type="checkbox" checked> spadmin
							td 
								span 27.02.2017  
								span 10:30



			.col-xs-3.col-width-26
				.aside
					nav.aside__menu
						ul.aside__list
							li.aside__elem
								a(href="#").aside__link Новости
							li.aside__elem.active
								a(href="#").aside__link Фоторепортажи
							li.aside__elem
								a(href="#").aside__link Обзор СМИ
							li.aside__elem
								a(href="#").aside__link Газеты и журналы
							li.aside__elem
								a(href="#").aside__link.aside__link-last-child <i class="fa fa-chevron-left" aria-hidden="true"></i> Назад

					.aside__tile
						a(href="#").aside__tile-link
							.aside__tile-img
								img(src='img/tiles/1.jpg', alt='')
							h3.aside__tile-title Моя идея
					.aside__tile
						a(href="#").aside__tile-link
							.aside__tile-img
								img(src='img/tiles/2.jpg', alt='')
							h3.aside__tile-title Нормативно-справочная информация
					.aside__tile
						a(href="#").aside__tile-link
							.aside__tile-img
								img(src='img/tiles/3.jpg', alt='')
							h3.aside__tile-title База знаний для ТП
