//для показа/выключения надо присвоить/убарть класс active для search-top
search-top.search-top 

	.search-top__white
			.container
				form.search-top__white-wrap
					.search-top__left
						input#search-top(type="text" value="Введите вопрос")
					.search-top__right 
						button.btn найти
						button.btn__close#search-close
	.search-top__black 