.section.gray-f
  .container
    .tiles
      a.tiles__tile(href='#')
        .tiles__img
          img(src='img/tiles/1.jpg', alt='')
        h3.tiles__title Учебный портал
        .tiles__text Онлайн подготовка для сотрудников
      a.tiles__tile(href='#')
        .tiles__img
          img(src='img/tiles/2.jpg', alt='')
        h3.tiles__title Моя идея
        .tiles__text Онлайн подготовка для сотрудников
      a.tiles__tile.tiles__tile-last(href='#')
        .tiles__img
          img(src='img/tiles/3.jpg', alt='')
        h3.tiles__title Корпоративная библиотека
        .tiles__text Онлайн подготовка для сотрудников
      a.tiles__tile(href='#')
        .tiles__img
          img(src='img/tiles/4.jpg', alt='')
        h3.tiles__title База знаний ТП
        .tiles__text Онлайн подготовка для сотрудников
      a.tiles__tile(href='#')
        .tiles__img
          img(src='img/tiles/1.jpg', alt='')
        h3.tiles__title Нормативно-справочная информация
        .tiles__text  
      a.tiles__tile.tiles__tile-last(href='#')
        .tiles__img
          img(src='img/tiles/2.jpg', alt='')
        h3.tiles__title Партнерские предложения
        .tiles__text Онлайн подготовка для сотрудников
