.section.bg-light-blue
  .container
    .section_info
      .section_info__blocks
        .row
          .col-xs-4
            .section_info__block
              h2.title-small Поиск сотрудников
              .section_info__block-wrap
                .search
                  .search__input-wrap
                    i.fa.fa-search(aria-hidden='true')
                    input.search__input(type='text', placeholder='Введите ФИО сотрудника')
                  button.search__button
                    span.search__button-inside-left
                      | А 
                      i.fa.fa-angle-right(aria-hidden='true')
                      |  я
                    span.search__button-inside-right Алфавитный справочник 
                  .name-day
                    .name-day__left
                    .name-day__right
                      .name-day__number 13
                      .name-day__text
                        .name-day__date
                          | сегодня, 
                          span 10 февраля
                        .name-day__signature именинников
                  
                  #birsdays.birsdays
                    .birsdays__wrap
                      ul.birsdays__list
                        li.birsdays__elem
                          a.birsdays__link(href='#')
                            .birsdays__photo
                              img.birsdays__elem-img(src='img/birsday/photo1.jpg', alt='photo1', title='photo1')
                            .birsdays__text
                              .birsdays__text-wrap
                                .birsdays__name Николай Дубов
                                .birsdays__position Старший менеджер
                        li.birsdays__elem
                          a.birsdays__link(href='#')
                            .birsdays__photo
                              img.birsdays__elem-img(src='img/birsday/photo2.jpg', alt='photo1', title='photo1')
                            .birsdays__text
                              .birsdays__text-wrap
                                .birsdays__name Владимирова Марина
                                .birsdays__position Ведущий аналитик отдела развития
                        li.birsdays__elem
                          a.birsdays__link(href='#')
                            .birsdays__photo
                              img.birsdays__elem-img(src='img/birsday/photo3.jpg', alt='photo1', title='photo1')
                            .birsdays__text
                              .birsdays__text-wrap
                                .birsdays__name Обухов Владимир
                                .birsdays__position Заместитель главного бухгалтера
                        li.birsdays__elem
                          a.birsdays__link(href='#')
                            .birsdays__photo
                              img.birsdays__elem-img(src='img/birsday/photo1.jpg', alt='photo1', title='photo1')
                            .birsdays__text
                              .birsdays__text-wrap
                                .birsdays__name Николай Дубов
                                .birsdays__position Старший менеджер
                        li.birsdays__elem
                          a.birsdays__link(href='#')
                            .birsdays__photo
                              img.birsdays__elem-img(src='img/birsday/photo2.jpg', alt='photo1', title='photo1')
                            .birsdays__text
                              .birsdays__text-wrap
                                .birsdays__name Владимирова Марина
                                .birsdays__position
                                  | Ведущий аналитик отдела развития Ведущий аналитик отдела развития Ведущий аналитик отдела развития
                        li.birsdays__elem
                          a.birsdays__link(href='#')
                            .birsdays__photo
                              img.birsdays__elem-img(src='img/birsday/photo3.jpg', alt='photo1', title='photo1')
                            .birsdays__text
                              .birsdays__text-wrap
                                .birsdays__name Обухов Владимир
                                .birsdays__position Заместитель главного бухгалтера
          .col-xs-4
            .section_info__block
              h2.title-small.border-bottom Полезные ссылки
              .section_info__block-wrap
                .useful-links
                  .useful-links__wrap
                    ul.useful-links__list
                      li.useful-links__elem
                        a.useful-links__link(href='#')
                          .useful-links__icon
                            img.useful-links__elem-img(src='img/icons/phone.png', alt='phone', title='phone')
                          .useful-links__text
                            .useful-links__title Линия психологической поддержки
                            .useful-links__description Мы всегда выслушаем вас
                      li.useful-links__elem
                        a.useful-links__link(href='#')
                          .useful-links__icon
                            img.useful-links__elem-img(src='img/icons/question.png', alt='question', title='question')
                          .useful-links__text
                            .useful-links__title Служба поддержки пользователей
                            .useful-links__description Для вопросов по работе с порталом
                      li.useful-links__elem
                        a.useful-links__link(href='#')
                          .useful-links__icon
                            img.useful-links__elem-img(src='img/icons/fly.png', alt='fly', title='fly')
                          .useful-links__text
                            .useful-links__title В помощь командируемому
                            .useful-links__description Образцы всех справок и заявлений
                      li.useful-links__elem
                        a.useful-links__link(href='#')
                          .useful-links__icon
                            img.useful-links__elem-img(src='img/icons/list.png', alt='list', title='list')
                          .useful-links__text
                            .useful-links__title Справочник бэк-офиса
                            .useful-links__description Образцы всех справок и заявлений
                      li.useful-links__elem
                        a.useful-links__link(href='#')
                          .useful-links__icon
                            img.useful-links__elem-img(src='img/icons/nut.png', alt='list', title='list')
                          .useful-links__text
                            .useful-links__title СИС ДКО
                            .useful-links__description Образцы всех справок и заявлений
          .col-xs-4        
            .section_info__block.section_info__block-last
              h2.title-small.border-bottom Мои заявки
              .section_info__block-wrap
                .bid
                  .bid__wrap
                    ul.bid__list
                      li.bid__elem
                        a.bid__link(href='#')
                          .bid__title Командировка на основании утвержденного приказа
                          .bid__info
                            .bid__status
                              .bid__icon
                                img.bid__elem-img(src='img/icons/rejected.png', alt='phone', title='phone')
                              .bid__text Отклонена
                            .bid__time 10.02.2017
                      li.bid__elem
                        a.bid__link(href='#')
                          .bid__title Заявка на изготовление копий документов
                          .bid__info
                            .bid__status
                              .bid__icon
                                img.bid__elem-img(src='img/icons/clock.png', alt='clock', title='clock')
                              .bid__text Принята в работу
                            .bid__time 10.02.2017			
                      li.bid__elem
                        a.bid__link(href='#')
                          .bid__title Командировка на основании утвержденного приказа
                          .bid__info
                            .bid__status
                              .bid__icon
                                img.bid__elem-img(src='img/icons/approved.png', alt='approved', title='approved')
                              .bid__text Выполнена
                            .bid__time 10.02.2017
                .bid__btn
                  button.btn__red.btn__center Создать заявку
