div
	.slider
		.slider__wrap
			ul.slider__list
				li.slider__elem.active
				li.slider__elem
				li.slider__elem
			.container
				a(href='#').slider__nav.slider__nav-left
					i.fa.fa-chevron-left(aria-hidden="true")
				a(href='#').slider__nav.slider__nav-right
					i.fa.fa-chevron-right(aria-hidden="true")
				.slider__text-wrap
					ul.slider__text-list
						li.slider__text-elem.active
							h2.slider__text-title Корпоративная библиотека
							.slider__text Читайте бесплатно все книги на телефоне<br> в любое удобное вам время:<br> в метро, в очереди, в обеденный перерыв
						li.slider__text-elem
							h2.slider__text-title Корпоративная библиотека
							.slider__text Читайте бесплатно все книги на телефоне<br> в любое удобное вам время:<br> в метро, в очереди, в обеденный перерыв
						li.slider__text-elem
							h2.slider__text-title Корпоративная библиотека
							.slider__text Читайте бесплатно все книги на телефоне<br> в любое удобное вам время:<br> в метро, в очереди, в обеденный перерыв								
	.slider__wrap-logo
		.slider__logo

		




