.section
	.container
		.row
			.col-xs-12
				.breadcrumb
					nav.breadcrumb__wrap
						a(href="#").breadcrumb__item Главная
						a(href="#").breadcrumb__item Новости и публикации
						a(href="#").breadcrumb__item.breadcrumb__item-last-child Фоторепортажи
		.row
			.col-xs-12
				h1.title Организационная структура
		.row
			.col-xs-9.col-width-74
				.row
					.col-xs-12
						.structure
							.structure__head-box
								.structure__head-box-title ВТБ 24 (ПАО)
								.structure__head-box-tel 
									a(href="#").structure__head-box-link Телефонный справочник
							.structure__table
								//- 1 колонка
								.structure__col
									.structure__col-head
										.structure__col-head-title Иногородние филиалы
										.structure__col-head-tel 
											a(href="#").structure__col-head-link Телефонный справочник
									ul.structure__col-list
										li.structure__col-elem 
											.structure__col-elem-title Филиал №7803 в г.Санкт-Петербурге
											.structure__col-elem-name Иоффе Михаил Юрьевич
											.structure__col-elem-position
											.structure__col-elem-tel
												a(href="#").structure__col-elem-link Тел. справочник
										li.structure__col-elem 
											.structure__col-elem-title Филиал №7803 в г.Санкт-Петербурге
											.structure__col-elem-name Иоффе Михаил Юрьевич
											.structure__col-elem-position Старший вице-президент, управляющий филиалом
											.structure__col-elem-tel
												a(href="#").structure__col-elem-link Тел. справочник
										li.structure__col-elem 
											.structure__col-elem-title Филиал №7803 в г.Санкт-Петербурге
											.structure__col-elem-name Иоффе Михаил Юрьевич
											.structure__col-elem-position Старший вице-президент, управляющий филиалом
											.structure__col-elem-tel
												a(href="#").structure__col-elem-link Тел. справочник
										li.structure__col-elem 
											.structure__col-elem-title Филиал №7803 в г.Санкт-Петербурге
											.structure__col-elem-name Иоффе Михаил Юрьевич
											.structure__col-elem-position Старший вице-президент, управляющий филиалом
											.structure__col-elem-tel
												a(href="#").structure__col-elem-link Тел. справочник
				
								//- 2 колонка
								.structure__col
									.structure__col-head
										.structure__col-head-title Иногородние филиалы
										.structure__col-head-tel 
											a(href="#").structure__col-head-link Телефонный справочник
									ul.structure__col-list
										li.structure__col-elem 
											.structure__col-elem-title Филиал №7803 в г.Санкт-Петербурге
											.structure__col-elem-name Иоффе Михаил Юрьевич
											.structure__col-elem-position Старший вице-президент, управляющий филиалом
											.structure__col-elem-tel
												a(href="#").structure__col-elem-link Тел. справочник
										li.structure__col-elem 
											.structure__col-elem-title Филиал №7803 в г.Санкт-Петербурге
											.structure__col-elem-name Иоффе Михаил Юрьевич
											.structure__col-elem-position Старший вице-президент, управляющий филиалом
											.structure__col-elem-tel
												a(href="#").structure__col-elem-link Тел. справочник
										li.structure__col-elem 
											.structure__col-elem-title Филиал №7803 в г.Санкт-Петербурге
											.structure__col-elem-name Иоффе Михаил Юрьевич
											.structure__col-elem-position
											.structure__col-elem-tel
												a(href="#").structure__col-elem-link Тел. справочник
										li.structure__col-elem 
											.structure__col-elem-title Филиал №7803 в г.Санкт-Петербурге
											.structure__col-elem-name Иоффе Михаил Юрьевич
											.structure__col-elem-position Старший вице-президент, управляющий филиалом
											.structure__col-elem-tel
												a(href="#").structure__col-elem-link Тел. справочник			
								//- 3 колонка
								.structure__col
									.structure__col-head
										.structure__col-head-title Иногородние филиалы
										.structure__col-head-tel 
											a(href="#").structure__col-head-link Телефонный справочник
									ul.structure__col-list
										li.structure__col-elem 
											.structure__col-elem-title Филиал №7803 в г.Санкт-Петербурге
											.structure__col-elem-name Иоффе Михаил Юрьевич
											.structure__col-elem-position Старший вице-президент, управляющий филиалом
											.structure__col-elem-tel
												a(href="#").structure__col-elem-link Тел. справочник
										li.structure__col-elem 
											.structure__col-elem-title Филиал №7803 в г.Санкт-Петербурге
											.structure__col-elem-name Иоффе Михаил Юрьевич
											.structure__col-elem-position Старший вице-президент, управляющий филиалом
											.structure__col-elem-tel
												a(href="#").structure__col-elem-link Тел. справочник
										li.structure__col-elem 
											.structure__col-elem-title Филиал №7803 в г.Санкт-Петербурге
											.structure__col-elem-name Иоффе Михаил Юрьевич
											.structure__col-elem-position Старший вице-президент, управляющий филиалом Старший вице-президент, управляющий филиалом Старший вице-президент, управляющий филиалом 
											.structure__col-elem-tel
												a(href="#").structure__col-elem-link Тел. справочник
										li.structure__col-elem 
											.structure__col-elem-title Филиал №7803 в г.Санкт-Петербурге
											.structure__col-elem-name Иоффе Михаил Юрьевич
											.structure__col-elem-position Старший вице-президент, управляющий филиалом
											.structure__col-elem-tel
												a(href="#").structure__col-elem-link Тел. справочник	

								//- 4 колонка
								.structure__col
									.structure__col-head
										.structure__col-head-title Иногородние филиалы
										.structure__col-head-tel 
											a(href="#").structure__col-head-link Телефонный справочник
									ul.structure__col-list
										li.structure__col-elem 
											.structure__col-elem-title Филиал №7803 в г.Санкт-Петербурге
											.structure__col-elem-name Иоффе Михаил Юрьевич
											.structure__col-elem-position Старший вице-президент, управляющий филиалом
											.structure__col-elem-tel
												a(href="#").structure__col-elem-link Тел. справочник
	

								//- 5 колонка
								.structure__col
									.structure__col-head
										.structure__col-head-title Иногородние филиалы
										.structure__col-head-tel 
											a(href="#").structure__col-head-link Телефонный справочник
									ul.structure__col-list
										li.structure__col-elem 
											.structure__col-elem-title Филиал №7803 в г.Санкт-Петербурге
											.structure__col-elem-name Иоффе Михаил Юрьевич
											.structure__col-elem-position Старший вице-президент, управляющий филиалом
											.structure__col-elem-tel
												a(href="#").structure__col-elem-link Тел. справочник
										li.structure__col-elem 
											.structure__col-elem-title Филиал №7803 в г.Санкт-Петербурге
											.structure__col-elem-name Иоффе Михаил Юрьевич
											.structure__col-elem-position Старший вице-президент, управляющий филиалом
											.structure__col-elem-tel
												a(href="#").structure__col-elem-link Тел. справочник
										li.structure__col-elem 
											.structure__col-elem-title Филиал №7803 в г.Санкт-Петербурге
											.structure__col-elem-name Иоффе Михаил Юрьевич
											.structure__col-elem-position Старший вице-президент, управляющий филиалом
											.structure__col-elem-tel
												a(href="#").structure__col-elem-link Тел. справочник
										li.structure__col-elem 
											.structure__col-elem-title Филиал №7803 в г.Санкт-Петербурге
											.structure__col-elem-name Иоффе Михаил Юрьевич
											.structure__col-elem-position Старший вице-президент, управляющий филиалом
											.structure__col-elem-tel
												a(href="#").structure__col-elem-link Тел. справочник												

			.col-xs-3.col-width-26
				.aside
					nav.aside__menu
						ul.aside__list
							li.aside__elem
								a(href="#").aside__link Новости
							li.aside__elem.active
								a(href="#").aside__link Фоторепортажи
							li.aside__elem
								a(href="#").aside__link Обзор СМИ
							li.aside__elem
								a(href="#").aside__link.aside__link-last-child Газеты и журналы


					.aside__tile
						a(href="#").aside__tile-link
							.aside__tile-img
								img(src='img/tiles/1.jpg', alt='')
							h3.aside__tile-title Моя идея
					.aside__tile
						a(href="#").aside__tile-link
							.aside__tile-img
								img(src='img/tiles/2.jpg', alt='')
							h3.aside__tile-title Нормативно-справочная информация
					.aside__tile
						a(href="#").aside__tile-link
							.aside__tile-img
								img(src='img/tiles/3.jpg', alt='')
							h3.aside__tile-title База знаний для ТП
