.btn {

	line-height: 40px;
	text-transform: uppercase;
	border-radius: 2px;
	border: 2px solid #e6ecf2;
	background: #fff;
	font-size: 12px;
	font-weight: 600;
	color: #1262b3;
	
	
	padding: 0;
	cursor: pointer;
	-webkit-transition: .3s;
	transition: .3s;
	width: 100px;
	display: inline-block;


	&__close {
		width: 16px;
	    height: 16px;
	    cursor: pointer;
	    font-size: 16px !important;
	    background: none;
	    border: none;
	    position: relative;
	    display: inline-block;
	    &:before {
	    	content: '';
		    background-image: url(../../assets/img/sprite.svg?v=25233); 
		    background-repeat: no-repeat;
		    background-size: 4.125em 436.1875em;
		    vertical-align: middle;
	    	background-position: 0em -136.375em;
	    	height: 1em;
	    	width: 1em;
	    	position: absolute;
	    	top: 0;
	    	left: 0;
	    }
	    &:hover:before {
			background-position: 0em -135.375em;
	    }
	}
}