block variables

doctype html
html
  head
    meta(charset="utf-8")
    title #{title}
    meta(content="" name="author")
    meta(content="" name="description")
    meta(content="" name="keywords")
    meta(content="width=device-width, initial-scale=1" name="viewport")
    meta(content="ie=edge" http-equiv="x-ua-compatible")

    //- favicon block start
    //- favicon block end

    link(rel='stylesheet' href='css/foundation.css')
    link(rel='stylesheet' href='css/app.css') 

    //- компоненты
    script(src='js/components/jquery.js' defer)
    script(src='js/components/fotorama.js' defer)
    script(src='js/components/bootstrap-datepicker.js' defer)
    script(src='js/components/bootstrap.js' defer)     


    script(src='js/app.js' defer)
    script(src='js/search.js' defer)
    script(src='js/slider.js' defer)
    script(src='js/sliderNews.js' defer)

  body
    .wrapper
        block content
